
h1 {
    margin-left: 50px;
}
#pruebaP {
    margin-right: 90px;
}
h3 {
    margin-left: 80px;
    margin-right: 50px;
    margin-top: 100px;
}
#escena {
    height: 600px;
    width: 1500px;
}